<section id="aboutMe" class="container">
    <h2>ABOUT ME</h2>
    <img width="320" height="374" src="../img/bg-images/bgi-mob.webp" alt="my photo">
    <div>
        <h3>BIO</h3>
        <p>I'm Lloyd Jefferson, a talented programmer specializing in software development. My expertise spans various
            programming
            languages and technologies, and I am dedicated to continually enhancing my skills. I thrive on seeking
            unconventional
            and creative solutions to problems, leveraging a high level of analytical skills to effectively tackle even
            the most
            challenging tasks.</p>

        <p>Adaptable to both independent and team-oriented work, I collaborate seamlessly with colleagues, exchanging
            ideas and
            finding optimal solutions. My professional maturity enables me to navigate challenges and stressful
            situations with a
            calm demeanor, maintaining a consistently high quality of work. Committed to self-improvement, I actively
            engage in
            studying new technologies and practices to stay current with the latest innovations in the field.</p>
    </div>
    <div>
        <h3>EDUCATION</h3>
        <ul>
            <li>
                <p>2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
            </li>
            <li>
                <p>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
            </li>
            <li>
                <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
            </li>
        </ul>
    </div>
    <div>
        <h3>ROLE</h3>
        <ul>
            <li>
                <p>Frontend development</p>
            </li>
            <li>
                <p>HeadlessCMS, Wordpress</p>
            </li>
            <li>
                <p>Blender (enjoy)</p>
            </li>
        </ul>
    </div>
</section>