<section id="benefits" class = "benefits">
    <div class = benefits-background></div>
    <div class = "container">
        <h2 class = benefit-title><span class="benefit-highlight">BENEFITS</span> OF WORKING WITH ME</h2>
        <ul class = "benefit-list">
            <li class="benefit-list-item">
                <div class="benefit-icon">
                    <svg width="24" height="24">
                        <use href="/img/icons.svg#icon-benefits-expertise"></use>
                    </svg>
                </div>
                <div class = "benefit-list-topic">EXPERTISE</div>
                <p class = "benefit-list-text">With extensive experience in development, I have a deep understanding of programming and website development.</p>
            </li>
            <li class="benefit-list-item">
                <div class="benefit-icon">
                    <svg width="24" height="24">
                        <use href="/img/icons.svg#icon-benefits-communication"></use>
                    </svg>
                </div>
                <div class = "benefit-list-topic">COMMUNICATION</div>
                <p class = "benefit-list-text">Understanding your needs and wants is my priority and I am always available for discussions and open to corrections.</p>
            </li>
            <li class="benefit-list-item">
                <div class="benefit-icon">
                    <svg width="24" height="24">
                        <use href="/img/icons.svg#icon-benefits-art"></use>
                    </svg>
                </div>
                <div class = "benefit-list-topic">ART</div>
                <p class = "benefit-list-text">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
            </li>
            <li class="benefit-list-item">
                <div class="benefit-icon">
                    <svg width="24" height="24">
                        <use href="/img/icons.svg#icon-benefits-urgent"></use>
                    </svg>
                </div>
                <div class = "benefit-list-topic">URGENT EXECUTION</div>
                <p class = "benefit-list-text">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
            </li>
        </ul>
    </div>
</section>
