<section id="footer" class="container">
  <div class="footer-box">
    <div class="footer-elements">
      <p class="logo">LLOYD<span>JEFFERSON.</span></p>

      <nav class="footer-nav">
        <ul>
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/goitclub/"
              class="nav-link"
              >Instagram</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              class="nav-link"
              >Facebook</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              class="nav-link"
              >Linkedin</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/Oleksandr-Karnaushenko/SuperPortfolioTeam"
              class="nav-link"
              >GitHub</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <p class="copyright">&#169; Copyright 2024. Made by LloydJefferson</p>
  </div>
</section>
