<header id="header" class="header">
  <div class="container">
    <div class="header-elements">
      <a class="logo" href="/">LLOYD<span>JEFFERSON.</span></a>

      <div class="nav-switch-box">
        <div class="switch_container">
          <input type="checkbox" id="switch" />
          <label for="switch" class="label">
            <i class="fa-solid fa-sun"></i>
            <i class="fa-solid fa-moon"></i>
          </label>
        </div>

        <nav class="header-nav">
          <ul>
            <li><a href="#aboutMe" class="nav-link">About me</a></li>
            <li><a href="#myProjects" class="nav-link">Projects</a></li>
            <li><a href="#workTogether" class="nav-link">Contacts</a></li>
          </ul>
        </nav>
      </div>

      <div class="burger-btn">
        <span class="burger-btn-line"></span>
        <span class="burger-btn-line"></span>
        <span class="burger-btn-line"></span>
      </div>
    </div>

    <div class="burger-menu hidden">
      <nav class="burger-nav">
        <ul>
          <li><a href="#aboutMe" class="nav-link">About me</a></li>
          <li><a href="#myProjects" class="nav-link">Projects</a></li>
          <li><a href="#workTogether" class="nav-link">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <script type="module" src="/js/header.js"></script>
</header>
