<header id="header" class="header">
  <section class="container">
    <div class="header-elements">
      <p class="logo">LLOYD<span>JEFFERSON.</span></p>

      <nav class="header-nav">
        <ul>
          <li><a href="#aboutMe">About me</a></li>
          <li><a href="#myProjects">Projects</a></li>
          <li><a href="#workTogether">Contacts</a></li>
        </ul>
      </nav>
    
      <div class="burger-btn">
        <span class="burger-btn-line"></span>
        <span class="burger-btn-line"></span>
        <span class="burger-btn-line"></span>
      </div>
    </div>

  <div class="burger-menu hidden">
    <nav class="burger-nav">
      <ul>
        <li><a href="#aboutMe">About me</a></li>
        <li><a href="#myProjects">Projects</a></li>
        <li><a href="#workTogether">Contacts</a></li>
      </ul>
    </nav>
  </div>

  <script type="module" src="/js/header.js"></script>
</header>
