<header id="header" class="header">
  <div class="header-elements">
    <p class="logo">LLOYD<span>JEFFERSON.</span></p>

    <nav class="header-nav">
      <ul>
        <li><a href="">About me</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Contacts</a></li>
      </ul>
    </nav>

    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="burger-menu visually-hidden">
    <nav class="burger-nav">
      <ul>
        <li><a href="">About me</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
