<section id="hero" class="hero">
    <div class="hero-wrap container">
        <h1 class="hero-title">Hello, I am <span>fullstack developer</span></h1>
        <img class="hero-photo" src="" alt="Developer" width="592" />
        <a href="#workTogether" class="hero-link">Order the project</a>
        <p class="hero-text">
            I work with people all over the world to create <span>impressive</span> and <span>functional websites</span>
            that reflect each
            client’s unique
            personality.
        </p>
    </div>
    <div class="hero-social">
        <ul class="hero-social-list">
            <li class="hero-social-link"><a target="_blank" href="https://www.instagram.com/goitclub/  "></a>Instagram
            </li>
            <li class="hero-social-link"><a target="_blank" href="https://www.facebook.com/goITclub/   "></a>Facebook
            </li>
            <li class="hero-social-link"><a target="_blank" href=""></a>Linkedin</li>
            <li class="hero-social-link"><a target="_blank" href=""></a>GitHub</li>
        </ul>
    </div>
</section>