<section id="hero" class="hero">
    <div class="hero-wrap container">
        <div class="hero-wrap-title">
            <h1 class="hero-title">Hello, I am <span>fullstack developer</span></h1>
            <picture>
                <source srcset="/img/hero/hero-des.webp 1x, /img/hero/hero-des-2x.webp 2x"
                    media="(min-width: 1280px)" />
                <img class="hero-photo is-hidden" src="/img/hero/hero-des.webp" alt="Developer" loading="lazy"
                    width="592" height="444" />
            </picture>
        </div>
        <div class="hero-wrap-text">
            <div class="hero-btn">
                <svg class="hero-icon-arrow" width="30" height="16">
                    <use href="/img/icons.svg#icon-hero-arrow"></use>
                </svg>
                <a href="#workTogether" class="hero-link">Order the project</a>
                <div class="hero-rectangle"></div>
            </div>
            <p class="hero-text">
                I work with people all over the world to create <span>impressive</span> and <span>functional
                    websites</span>
                that reflect each client’s unique personality.
            </p>
        </div>

    </div>
    <div class="hero-social">
        <ul class="hero-social-list">
            <li class="hero-social-link">
                <a target="_blank" href="https://www.instagram.com/goitclub/">Instagram</a>
            </li>
            <li class="hero-social-link">
                <a target="_blank" href="https://www.facebook.com/goITclub/">Facebook</a>
            </li>
            <li class="hero-social-link">
                <a target="_blank" href="https://www.linkedin.com/school/goit-start-your-career-in-it/">Linkedin</a>
            </li>
            <li class="hero-social-link">
                <a target="_blank" href="https://oleksandr-karnaushenko.github.io/SuperPortfolioTeam/">GitHub</a>
            </li>
        </ul>
    </div>
</section>