<section id="reviews" class="reviews container">
  <h2 class="reviews-title">reviews</h2>
  <div class="swiper">
    <ul class="reviews-list swiper-wrapper">
      <li class="reviews-item swiper-slide">
        <p class="reviews-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </p>
        <div class="reviewer-data">
          <img
            src="/img/reviews/Natalia.webp"
            alt="Natalia Shevchenko"
            loading="lazy"
            width="40"
            height="40"
            class="reviews-foto"
          />
          <p class="reviewer-name">Natalia Shevchenko</p>
        </div>
      </li>
      <li class="reviews-item swiper-slide">
        <p class="reviews-text">
          I have the honor to recommend him as an exceptional professional in
          his field. His knowledge and expertise are undeniable. Cooperation
          with him always brings impressive results.
        </p>
        <div class="reviewer-data">
          <img
            src="/img/reviews/Dmytro.webp"
            alt="Dmytro Nazarenko"
            loading="lazy"
            width="40"
            height="40"
            class="reviews-foto"
          />
          <p class="reviewer-name">Dmytro Nazarenko</p>
        </div>
      </li>
    </ul>
    <!-- If we need navigation buttons -->
    <div class="swiper-buttons">
      <div class="swiper-button-prev">
        <svg width="48" height="48">
          <use href="/img/icons.svg#icon-review-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="48" height="48">
          <use href="/img/icons.svg#icon-review-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
  <script type="module" src="/js/reviews.js"></script>
</section>
