<section id="reviews" class="container">
  <div class="reviews">
    <h2 class="reviews-title">reviews</h2>
    <div class="swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
      <!-- navigation buttons -->
      <div class="swiper-buttons">
        <div class="swiper-button-prev">
          <svg width="48" height="48">
            <use href="/img/icons.svg#icon-review-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg width="48" height="48" class="icon-review-arrow-right">
            <use href="/img/icons.svg#icon-review-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="/js/reviews.js"></script>
</section>
