<section id="reviews" class="reviews container">
  <h2 class="reviews-title">reviews</h2>
  <div class="review-container">
    <ul class="reviews-list">
      <li class="reviews-item">
        <p class="reviews-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </p>
        <div class="reviewer-data">
          <picture>
            <source srcset="" />
            <img
              src=""
              alt="Natalia Shevchenko"
              loading="lazy"
              width="40"
              height="40"
              class="reviews-foto"
            />
          </picture>
          <p class="reviewer-name">Natalia Shevchenko</p>
        </div>
      </li>
      <li class="reviews-item">
        <p class="reviews-text">
          I have the honor to recommend him as an exceptional professional in
          his field. His knowledge and expertise are undeniable. Cooperation
          with him always brings impressive results.
        </p>
        <div class="reviewer-data">
          <picture>
            <source srcset="" />
            <img
              src=""
              alt="Dmytro Nazarenko"
              loading="lazy"
              width="40"
              height="40"
              class="reviews-foto"
            />
          </picture>
          <p class="reviewer-name">Dmytro Nazarenko</p>
        </div>
      </li>
    </ul>
  </div>
</section>
