<section id="techSkills">
    <h2>Tech Skills</h2>
    <h3>EDUCATION</h3>
    <ul>
        <li>
            <p>2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
        </li>
        <li>
            <p>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
        </li>
        <li>
            <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
        </li>
    </ul>
    <h3>ROLE</h3>
    <ul>
        <li>
            <p>Frontend development</p>
        </li>
        <li>
            <p>HeadlessCMS, Wordpress</p>
        </li>
        <li>
            <p>Blender (enjoy)</p>
        </li>
    </ul>

    <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

    <div class="marquee">
        <div class="marquee__inner">
            <ul class="marquee__line">
                <li>HTML/CSS</li>
                <li>JAVASCRIPT</li>
                <li>REACT</li>
                <li>NODE.JS</li>
                <li>REACT NATIVE</li>
                <li>TYPESCRIPT</li>

            </ul>
        </div>
    </div>