<section id="techSkills" class="techskills">
    <h2 class="visually-hidden">Tech Skills</h2>

    <div class="oll-ribbon">
        <div class="ribbon">
            <div class="ribbon-skills">
                <ul class="ribbon-list">
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>HTML/CSS</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>JAVASCRIPT</li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>NODE.JS</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT NATIVE</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>TYPESCRIPT</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>HTML/CSS</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>JAVASCRIPT</li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>NODE.JS</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT NATIVE</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>TYPESCRIPT</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>HTML/CSS</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>JAVASCRIPT</li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>NODE.JS</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT NATIVE</p>
                    </li>
                    <li class="ribbon-link"><svg width="" height="" class="ribbon-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>TYPESCRIPT</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="transparent">
            <div class="transparent-skills">
                <ul class="transparent-list">
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>HTML/CSS</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>JAVASCRIPT</li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>NODE.JS</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT NATIVE</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>TYPESCRIPT</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>HTML/CSS</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>JAVASCRIPT</li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>NODE.JS</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT NATIVE</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>TYPESCRIPT</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>HTML/CSS</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>JAVASCRIPT</li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>NODE.JS</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>REACT NATIVE</p>
                    </li>
                    <li class="transparent-link"><svg width="" height="" class="transperent-svg">
                            <use href="./img/icons.svg#icon-tech-skills-dot"></use>
                        </svg>
                        <p>TYPESCRIPT</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>