<section id="techSkills" class="">
    <h2 class="visually-hidden">Tech Skills</h2>

    <div class="oll-ribbon">
        <div class="ribbon">
            <div class="ribbon-skills">
                <ul class="ribbon-list">
                    <li>HTML/CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>REACT</li>
                    <li>NODE.JS</li>
                    <li>REACT NATIVE</li>
                    <li>TYPESCRIPT</li>
                    <li>HTML/CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>REACT</li>
                    <li>NODE.JS</li>
                    <li>REACT NATIVE</li>
                    <li>TYPESCRIPT</li>
                    <li>HTML/CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>REACT</li>
                    <li>NODE.JS</li>
                    <li>REACT NATIVE</li>
                    <li>TYPESCRIPT</li>
                </ul>
            </div>
        </div>

        <div class="transparent">
            <div class="transparent-skills">
                <ul class="transparent-list">
                    <li>HTML/CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>REACT</li>
                    <li>NODE.JS</li>
                    <li>REACT NATIVE</li>
                    <li>TYPESCRIPT</li>
                    <li>HTML/CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>REACT</li>
                    <li>NODE.JS</li>
                    <li>REACT NATIVE</li>
                    <li>TYPESCRIPT</li>
                    <li>HTML/CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>REACT</li>
                    <li>NODE.JS</li>
                    <li>REACT NATIVE</li>
                    <li>TYPESCRIPT</li>
                </ul>
            </div>
        </div>
    </div>
</section>