<section id="workTogether">
  <div class="container work-together-container">
    <h2 class="title-work-together">
      Let's <span class="title-part">work together</span>
    </h2>
    <div class="content-wrap">
      <div class="contacts-wrap">
        <p class="work-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <div class="contacts">
          <ul class="contacts-list">
            <li class="contacts-list-item">
              <a href="tel:+380904567890">+38 090 456 78 90</a>
            </li>
            <li class="contacts-list-item">
              <a href="mailto:lloydjefferson@gmail.com"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li class="contacts-list-item">
              <a href="https://maps.app.goo.gl/pJQ9nj8W71C3vHfy5"></a>USA, New
              York
            </li>
          </ul>
        </div>
      </div>
      <div class="work-form">
        <form class="work-form-item" action="submit">
          <input
            class="work-form-input"
            type="email"
            id="email"
            name="email"
            placeholder="Your email*"
            required
          />
          <textarea
            class="work-form-input"
            name="message"
            id="message"
          >
Message
        </textarea
          >
          <button class="button work-form-item">Send message</button>
        </form>
      </div>
    </div>
  </div>
</section>
