<section id="workTogether" class="work-together-container">
  <div class="container">
  <div class="bg-image"></div>
    <h2 class="title-work-together">
      Let's <span class="title-part">work together</span>
    </h2>
    <div class="content-wrap">
      <div class="contacts-wrap">
        <p class="work-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <div class="contacts">
          <ul class="contacts-list">
            <li class="contacts-list-item">
              <a href="tel:+380904567890" class="contacts-link">
                <svg class="contacts-list-icon" width="24px" height="24px">
                  <use href="/img/icons.svg#icon-phone"></use>
                </svg>
                +38 090 456 78 90</a
              >
            </li>
            <li class="contacts-list-item">
              <a href="mailto:lloydjefferson@gmail.com" class="contacts-link">
                <svg class="contacts-list-icon" width="24px" height="24px">
                  <use href="/img/icons.svg#icon-mail"></use>
                </svg>
                lloydjefferson@gmail.com</a
              >
            </li>
            <li class="contacts-list-item">
              <a
                href="https://maps.app.goo.gl/pJQ9nj8W71C3vHfy5"
                class="contacts-link"
              >
                <svg class="contacts-list-icon" width="24px" height="24px">
                  <use href="/img/icons.svg#icon-gps"></use>
                </svg>
                USA, New York</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="work-form">
        <form id="work-form" class="work-form-item">
          <label for="email" class="work-form-label">
            <input
              class="work-form-input"
              type="email"
              id="email"
              name="email"
              placeholder="Your email*"
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              required
            />
            <svg class="work-together-success" width="14" height="14">
              <use href="/img/icons.svg#icon-work-together-ok"></use>
            </svg>
          </label>
          <p class="work-together-error-input">Invalid email, try again</p>
          <label for="message">
            <textarea
              class="work-form-input-text"
              name="message"
              id="message"
              placeholder="Message"
            ></textarea>
          </label>
          <p class="work-together-error-message">the field must be filled</p>
          <button class="button work-form-item">Send message</button>
        </form>
      </div>
      <div class="backdrop">
        <div class="modal">
          <button type="button" class="close-modal-btn">
            <svg class="modal-close-svg" width="24px" height="24px">
              <use href="/img/icons.svg#icon-x"></use>
            </svg>
          </button>
          <div class="modal-text">
            <h3 class="work-modal-text-green">
              Thank you for your interest in cooperation!
            </h3>
            <h3 class="work-modal-text">
              The manager will contact you shortly to discuss further details
              and opportunities for cooperation. Please stay in touch.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="/js/workTogether.js"></script>
</section>
