<section id="workTogether">
  <div class="container work-together-container">
    <h2>Let's <span class="title-part">work together</span></h2>
    <p>Contact me to transform your ideas into exceptional solutions.</p>
    <div class="contacts">
      <ul>
        <li>
          <a href="tel:+380904567890">+38 090 456 78 90</a>
        </li>
        <li>
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
        <li>
          <a href="https://maps.app.goo.gl/pJQ9nj8W71C3vHfy5"></a>USA, New York
        </li>
      </ul>
    </div>
    <div class="form">
      <form action="submit">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Your email*"
          required
        />
        <textarea name="message" id="message" placeholder="Message"></textarea>
      </form>
      <button>SEND MESSAGE</button>
    </div>
  </div>
</section>
