.about-me {
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-me-title {
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
}

.about-me-span {
    color: green;
}

.about-me-image {
    border-radius: 16px;
    margin-top: 40px;
}

.aboutme-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: black;
    margin-bottom: 32px;
    margin-top: 40px;
}

.about-me-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-me-education-role {
    margin-top: 40px;
}

.about-me-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about-me-link {
    display: flex;
    gap: 8px;
    width: 320px;

}

.about-me-svg {
    margin: 10px;
    display: flex;
    fill: #00B068;
    height: 4px;
}

.about-me-svg-icons {
    margin: 10px 6px;
    display: flex;
    fill: #00B068;
    width: 4px;
    height: 4px;
}

.aboutme-text-education {
    padding-left: 8px;
}

.aboutme-text-role {
    padding-left: 8px;
}



/* --------768px---------- */

@media screen and (min-width: 768px) {

    .about-me {
        padding-top: 62px;
        padding-bottom: 62px;
    }

    .aboutme-title {
        margin-top: 0;
    }

    .about-me-title {
        font-size: 108px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }

    .about-me-media {
        display: flex;
        gap: 32px;
    }

    .about-me-bio {
        width: 336px;
        height: 680px;
    }

    .about-me-image {
        margin-top: 408px;
    }

    .about-me-education-role {
        display: flex;
        gap: 32px;
    }

    .about-me-education {
        width: 336px;
        height: 280px;
    }

    .about-me-list {
        gap: 16px;
    }

    .about-me-background {
        width: 336px;
        height: 252px;
        background-image: url(/img/bg-images/decor-bg-2.webp);
        position: absolute;
    }

}


/* --------1280px--------- */
@media screen and (min-width: 1280px) {

    .about-me {
        padding-top: 82px;
        padding-bottom: 82px;
    }

    .about-me-media {
        padding-left: 240px;
        gap: 136px;
    }

    .about-me-education-role {
        margin-left: 240px;
        margin-top: 80px;
        gap: 136px;
    }

    .about-me-bio {
        width: 488px;
        height: 488px;
    }

    .about-me-background {
        width: 384px;
        height: 288px;
        margin-top: 40px;
        margin-left: 104px;
    }

}