.about-me {
    padding-top: 80px;
    padding-bottom: 80px;
}



.about-me-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
}

.about-me-span {
    color: green;
}

.about-me-image {
    border-radius: 16px;
    margin-top: 40px;
}

.aboutme-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: black;
    margin-bottom: 32px;

}

.about-me-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: black;
    margin-bottom: 24px;
}

.aboutme-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: black;
    margin-bottom: 40px;
}

.about-me-education-role {
    margin-top: 40px;
}

.about-me-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about-me-link::before {
    content: "•";
    color: green;
    border-radius: 1px;
    width: 4px;
    height: 4px;
    position: absolute;
}

.aboutme-text-education {
    padding-left: 32px;
}

.aboutme-text-role {
    padding-left: 24px;
}

/* --------768px---------- */

@media screen and (min-width: 768px) {

    .about-me {
        padding-top: 124px;
        padding-bottom: 124px;
    }

    .about-me-title {
        font-size: 108px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }

    .about-me-media {
        display: flex;
        gap: 32px;
    }

    .about-me-bio {
        width: 336px;
        height: 680px;
    }

    .about-me-image {
        margin-top: 408px;
    }

    .about-me-education-role {
        display: flex;
        gap: 32px;
    }

    .about-me-education {
        width: 336px;
        height: 280px;

    }

    .about-me-list {
        gap: 16px;
    }

}


/* --------1280px--------- */
@media screen and (min-width: 1280px) {

    .about-me {
        padding-top: 164px;
        padding-bottom: 164px;
    }

    .about-me-media {
        padding-left: 240px;
        gap: 136px;
    }

    .about-me-education-role {
        margin-left: 240px;
        margin-top: 80px;
        gap: 136px;
    }

    .about-me-bio {
        width: 488px;
        height: 488px;
    }
}