* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

.accordion-section {
  padding: 0px 32px;
  max-width: 1280px;
  min-height: 1020px;
}

.accordion-li-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.accordion-container {
  margin: 32px;
  max-width: 592px;
  min-height: 240px;
}
.ac {
}

.accordion-div-container {
  max-width: 592px;
  min-height: 240px;
}

.accordion-h1-class {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 108px;
  line-height: 115%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
}
.accordion-span-class {
  color: #00b068;
}
.ac-header-custom {
  background-color: #bcdfd1;
}
.ac-trigger {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.ac-panel {
}
.ac-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
}
