.accordion-container {
  padding: 0px 32px;
}
.accordion-li-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-height: 650px;
  margin-bottom: 69px;
}

.accordion-ul-container {
  max-width: 592px;
}

.accordion-div-container {
  max-width: 592px;
  min-height: 240px;
}

ul .ac {
  border: none;
  margin-left: 8px;
}

.accordion-h1-class {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 108px;
  line-height: 115%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
}

.ac-header {
  margin: 0;
  padding: 24px;
  border-bottom: 1px solid #ccc;
}

.ac-border-none {
  border: none;
}

.accordion-span-class {
  color: #00b068;
}

.ac-header-custom {
  background-color: #bcdfd1;
  border-radius: 16px 16px 0px 0px;
}

ul .ac .ac-trigger {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 28px 28px 24px 24px;
}

.ac-panel {
  background-color: #bcdfd1;
  border-radius: 0px 0px 16px 16px;
}

.ac-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  padding: 0px 28px 24px 24px !important;
}
/*  */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .accordion-li-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-height: 1300px;
  }
  .accordion-h1-class {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
  }
  ul .ac .ac-trigger {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 28px 28px 24px 24px;
  }
  .ac-panel.ac-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    padding: 0px 28px 24px 24px !important;
  }
}
/*  */
@media screen and (min-width: 768px) {
  .container {
    max-width: 744px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1220px;
  }
}

/*  */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1380px;
  }
  ul .ac .ac-trigger {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 28px 28px 24px 24px;
  }
}
