.accordion-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 40px;
}

.faq-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*  */
ul .ac {
  border: none;
  background-color: var(--background);
}

.accordion-h2-class {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.ac .ac-header {
  margin: 0;
  padding: 24px;
  border-bottom: 1px solid var(--gray-color-bg);
}

.ac-header.ac-border-none {
  border-bottom: none;
}
.accordion-span-class {
  color: var(--green-text-color);
}

.ac-header-custom {
  background-color: var(--green-color-bg);
  border-radius: 16px 16px 0px 0px;
  border: none;
}

ul .ac .ac-trigger {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 28px 24px 24px;
  color: var(--text-color);
}
.ac-panel {
  background-color: var(--green-color-bg);
  border-radius: 0px 0px 16px 16px;
}

.accordion-ul-container .ac .ac-panel .ac-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  padding: 0px 28px 24px 24px;
  color: var(--text-color);
}

.accordion-container .ac-trigger {
  padding-right: 16px;
}
.icon-FAQ-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  fill: var(--text-color);
}

.icon-FAQ-arrow.rotated {
  transform: translateY(-50%) rotate(360deg);
}

.ac .ac-trigger::after {
  display: none;
}

.img-class {
  display: none;
}
/* tablet */
@media screen and (min-width: 768px) {
  .faq-container {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .accordion-h2-class {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }

  .accordion-ul-container {
    max-width: 704px;
  }
  ul .ac .ac-trigger {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
  }
  .img-class {
    display: none;
  }
}

/* laptop */
@media screen and (min-width: 1280px) {
  .faq-container {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .accordion-container {
    max-height: 610px;
  }
  .container.accordion-li-container .ac-trigger {
    padding-right: 56px;
  }

  .accordion-h2-class {
    font-weight: 400;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    max-width: 230px;
    min-height: 192px;
  }
  .accordion-ul-container {
    max-width: 592px;
  }

  ul .ac .ac-trigger {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    padding-right: 56px;
  }
  .bg-class {
    background-image: url(/img/bg-images/decor-bg-4@1x.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    max-width: 526px;
    height: 408px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: auto;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .bg-class {
      background-image: url(/img/bg-images/decor-bg-4@2x.webp);
    }
  }
}
