html {
  scroll-behavior: smooth;
  scroll-padding: 2rem; /* Padding from top of the screan */
}

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  z-index: 50;
  position: relative;
}

.logo {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.06em;
  font-family: 'Impact', sans-serif;
}
.logo > span {
  color: #00b068;
}

.header-nav > ul {
  display: flex;
  gap: 40px;
}

/* -------------- Burger menu ----------- */

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url(/img/bg-images/bgi-mob.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu.hidden {
  transform: translateY(-100%);
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .burger-menu {
    background-image: url(/img/bg-images/bgi-mob-2x.webp);
  }
}

.burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.burger-btn-line {
  width: 100%;
  margin: 2px;
  border-bottom: 2px solid #000;
  transition: all 0.3s ease-in-out;
}
/*Animate lines*/
.burger-btn.open .burger-btn-line:nth-child(2) {
  opacity: 0;
}
.burger-btn.open .burger-btn-line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.burger-btn.open .burger-btn-line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.burger-nav {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }
}
