.hero {
  padding-top: 112px;
  padding-bottom: 40px;
}

.hero-wrap {
  background-image: url(/img/bg-images/decor-bg-mob.webp);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-wrap {
    background-image: url(/img/bg-images/decor-bg-mob-2x.webp);
  }
}

.hero-title {
  font-family: 'Impact', sans-serif;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  text-align: left;
  padding-bottom: 40px;
}

.hero-title span {
  color: var(--green-text-color);
}

.is-hidden {
  display: none;
}

.hero-btn {
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero-icon-arrow {
  stroke-width: 2px;
  fill: var(--green-text-color);
  margin-right: 12px;
}

.hero-link {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-wrap: nowrap;
}

.hero-rectangle {
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background-color: var(--green-color-bg);
  z-index: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus .hero-rectangle,
.hero-btn:hover .hero-rectangle {
  background-color: var(--green-hover-color);
  opacity: 0.6;
}

.hero-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  padding-top: 40px;
  padding-bottom: 56px;
  text-align: left;
}

.hero-text span {
  color: var(--green-text-color);
}

.hero-social {
  margin-top: 16px;
  padding: 32px 0px;
  background-color: var(--gray-color-bg);
}

.hero-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.hero-social-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-social-link:focus,
.hero-social-link:hover {
  color: var(--green-text-color);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 88px;
    padding-bottom: 62px;
  }

  .hero-wrap {
    background-image: url(/img/bg-images/decor-bg-tab.webp);
    background-position: left top;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-wrap {
      background-image: url(/img/bg-images/decor-bg-tab-2x.webp);
    }
  }

  .hero-title {
    font-size: 124px;
    line-height: 1.19355;
    letter-spacing: 0.01em;
    padding-bottom: 60px;
  }

  .hero-btn {
    max-width: 416px;
  }

  .hero-link {
    font-size: 20px;
    line-height: 1.6;
    left: 35%;
  }

  .hero-rectangle {
    width: 261px;
  }

  .hero-text {
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 88px;
  }

  .hero-social {
    padding: 40px 0px;
  }

  .hero-social-list {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 88px;
    padding-bottom: 82px;
  }

  .hero-wrap {
    background-image: url(/img/bg-images/decor-bg-des.webp);
    background-position: left 30% top 30%;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-wrap {
      background-image: url(/img/bg-images/decor-bg-des-2x.webp);
    }
  }

  .hero-wrap-title {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    margin-bottom: 80px;
  }

  .hero-title {
    max-width: 552px;
    padding-bottom: 0;
  }

  .is-hidden {
    display: block;
  }

  .hero-wrap-text {
    display: flex;
    justify-content: space-between;
  }

  .hero-btn {
    margin-left: 72px;
  }

  .hero-icon-arrow {
    margin-right: 123px;
  }

  .hero-text {
    max-width: 592px;
    padding: 0;
  }

  .hero-social {
    margin-top: 96px;
  }
}
