.hero {
  margin-top: 8px;
  margin-bottom: 40px;
}

.hero-title {
  font-family: 'Impact', sans-serif;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  text-align: left;
  padding-top: 96px;
  padding-bottom: 40px;
}

.hero-title span {
  color: #00b068;
}

.is-hidden {
  display: none;
}

.hero-btn {
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero-icon-arrow {
  stroke-width: 2px;
  stroke: #00b068;
  margin-right: 12px;
}

.hero-link {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-wrap: nowrap;
}

.hero-rectangle {
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background-color: rgba(0, 176, 104, 0.2);
  z-index: 1;
}

.hero-rectangle:focus,
.hero-rectangle:hover {
  background-color: rgba(0, 176, 104, 0.6);
}

.hero-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  padding-top: 40px;
  padding-bottom: 56px;
  text-align: left;
}

.hero-text span {
  color: #00b068;
}

.hero-social {
  padding: 32px 0px;
  background-color: #e4e5e6;
}

.hero-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.hero-social-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.hero-social-link:focus,
.hero-social-link:hover {
  color: #00b068;
}
