.my-projects {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.projects-title {
  text-align: center;
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--green-text-color);
  margin-bottom: 40px;
  text-align: center;
}

.project-title-span {
  color: var(--text-color);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-card {
  max-width: 320px;
}
.project-card-descr {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

.line-title-link {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-image {
  border-radius: 16px;
}

.project-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.technologies {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--gray-color-bg);
  border-radius: 8px;
  padding: 12px 24px;
  width: 125px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  background-color: var(--gray-hover-color);
}

.visit-icon {
  stroke: var(--green-text-color);
}

.load-more-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: transparent;
  margin-top: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more-btn:hover {
  color: var(--green-hover-color);
}

.btn-line-icon {
  fill: var(--green-text-color);
  width: 106px;
}

@media screen and (min-width: 768px) {
  .my-projects {
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .projects-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
  .projects {
    gap: 60px;
  }
  .project-card {
    max-width: 704px;
  }
  .project-image {
    border-radius: 24px;
  }
  .project-card-descr {
    gap: 20px;
  }
  .project-title {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }
  .line-title-link {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .load-more-btn {
    font-size: 20px;
  }
  .btn-line-icon {
    width: 117px;
  }
}

@media screen and (min-width: 1280px) {
  .my-projects {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .projects-title {
    margin-bottom: 80px;
  }
  .projects {
    gap: 80px;
  }
  .project-card {
    max-width: 1008px;
  }
}
