.reviews {
    padding-top: 40px;
    padding-bottom: 40px;
}

.reviews-title {
    max-width: 194px;
    margin: 0 auto 40px;
    text-transform: uppercase;
    font-family: Impact;
    font-size: 52px;
    letter-spacing: 1.8px;
    line-height: 64px;
    text-align: center;
}

.reviews-item {
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 16px;
    background-color: #E4E5E6;
    padding: 32px;
}

.reviews-item:not(:first-child) {
    display: none;
}

.reviews-text {
    width: 256px;
    font-size: 16px;
    font-family: Poppins;
    letter-spacing: 0.2px;
    line-height: 24px;
}

.reviews-foto {
    border-radius: 50%;
}

.reviewer-data {
    display: flex;
    margin-top: 24px;
    gap: 16px;
    align-items: center;
}

.reviewer-name {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
}

/*<----------768px--------->*/
@media screen and (min-width: 768px) {
    .reviews {
        padding-top: 62px;
        padding-bottom: 62px;
    }

    .reviews-title {
        max-width: 391px;
        font-size: 108px;
        line-height: 124px;
        margin-bottom: 60px;
    }

    .reviews-item {
        width: 704px;
    }

    .reviews-text {
        width: 640px;
    }
}

/*<----------1280px--------->*/

@media screen and (min-width: 1280px) {
    .reviews {
        padding-top: 82px;
        padding-bottom: 82px;
    }

    .reviews-title {
        margin-bottom: 80px;
    }

    .reviews-list {
        display: flex;
        gap: 32px;
    }

    .reviews-item {
        width: calc((100% - 32px) / 2);
    }

    .reviews-item:nth-child(2) {
        display: block;
    }

    .reviews-text {
        width: 528px;
    }
}