/**
  imports
*/
@import url('./comon.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./aboutMe.css');
@import url('./techSkills.css');
@import url('./myProjects.css');
@import url('./benefits.css');
@import url('./FAQ.css');
@import url('./reviews.css');
@import url('./workTogether.css');
@import url('./footer.css');

:root {
  font-family: Poppins, Montserrat, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* lighting-colors */
  --bg-l: #f0f0f0;
  --text-l: #292929;
  --green-t-l: #00b068;
  --gray-l: #e4e5e6;
  --light-accent-l: #bcdfd1;

  /* dark-colors */
  --bg-d: #1e2023;
  --text-d: #f0f0f0;
  --green-t-d: #14c57c;
  --gray-d: #2a2d32;
  --green-f-d: #204136;

  /* variables */
  --background: var(--bg-l);
  --text-color: var(--text-l);
  --green-text-color: var(--green-t-l);
  --gray-color-bg: var(--gray-l);
  --green-color-bg: var(--light-accent-l);
}

body {
  background-color: var(--background);
  color: var(--text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 20px;
}

/*<----------768px--------->*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/*<----------1280px--------->*/

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
