#switch {
  display: none;
}
.switch_container {
  display: flex;
}
.label {
  display: flex;
  align-items: center;
  position: relative;
  height: 24px;
  width: 48px;
  background-color: var(--gray-color-bg);
  border-radius: 2rem;
  overflow: hidden;
}
.label:hover {
  cursor: pointer;
}
.label::before {
  content: '';
  display: block;
  margin-left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--green-text-color);
  border-radius: 50%;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
#switch:checked + .label::before {
  transform: translate(24px);
}
.black-ring {
  margin-left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  transition: margin-left 500ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}
#switch:checked + .label .black-ring {
  margin-left: 18px;
  background-color: var(--gray-color-bg);
}
