.techskills {
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ribbon {
    overflow: hidden;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: var(--green-color-bg);

}

.ribbon-skills {
    display: flex;
    width: 200%;
    animation: marqueeLine 10s linear infinite;
}

.ribbon-list {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
    margin: 0;
    padding: 32px 0px;
    white-space: nowrap;
}

.ribbon-link {
    display: flex;
    align-items: center;
}

.ribbon-svg {
    border-radius: 2px;
    width: 8px;
    height: 8px;
    margin-right: 20px;
    fill: var(--green-text-color);
}

@keyframes marqueeLine {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.transparent {
    overflow: hidden;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--green-text-color);
    background: var(--gray-color-bg);
    transform: rotate(2deg);
    margin-bottom: 80px;
}

.transparent-skills {
    display: flex;
    width: 200%;
    animation: marqueeLine 10s linear infinite;
}

.transparent-list {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
    margin: 0;
    padding: 32px 0px;
    white-space: nowrap;
}

.transparent-link {
    display: flex;
    align-items: center;
}

.transperent-svg {
    border-radius: 2px;
    width: 8px;
    height: 8px;
    margin-right: 20px;
    fill: var(--text-color);
}

@media screen and (min-width: 768px) {
    .oll-ribbon {
        padding-top: 62px;
        padding-bottom: 62px;
    }
}

@media screen and (min-width: 1280px) {
    .oll-ribbon {
        padding-top: 82px;
        padding-bottom: 82px;
    }
}