.ribbon {
    overflow: hidden;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: black;
    background: #BCDFD1;

}

.ribbon-skills {
    display: flex;
    width: 200%;
    animation: marqueeLine 35s linear infinite;
}

.ribbon-list {
    display: flex;
    gap: 56px;
    flex-shrink: 0;
    margin: 0;
    padding: 32px 0px;
    white-space: nowrap;
}

@keyframes marqueeLine {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.transparent {
    overflow: hidden;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: black;
    background: #E4E5E6;
    transform: rotate(2deg);
}

.transparent-skills {
    display: flex;
    width: 200%;
    animation: marqueeLine 35s linear infinite;
}

.transparent-list {
    display: flex;
    gap: 56px;
    flex-shrink: 0;
    margin: 0;
    padding: 32px 0px;
    white-space: nowrap;
}

.oll-ribbon {
    display: flex;
    flex-direction: column;
    gap: 70px;
}