.techskills {
    width: 100vw;
}

.oll-ribbon {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ribbon {
    overflow: hidden;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: black;
    background: #BCDFD1;

}

.ribbon-skills {
    display: flex;
    width: 200%;
    animation: marqueeLine 10s linear infinite;
}

.ribbon-list {
    display: flex;
    gap: 56px;
    flex-shrink: 0;
    margin: 0;
    padding: 32px 0px;
    white-space: nowrap;
}

.ribbon-link {
    display: flex;
    align-items: center;
}

.ribbon-svg {
    border-radius: 2px;
    width: 8px;
    height: 8px;
    margin-right: 58px;
    fill: #00B068;
}

@keyframes marqueeLine {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.transparent {
    overflow: hidden;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #00B068;
    background: #E4E5E6;
    transform: rotate(2deg);
    margin-bottom: 80px;
}

.transparent-skills {
    display: flex;
    width: 200%;
    animation: marqueeLine 10s linear infinite;
}

.transparent-list {
    display: flex;
    gap: 56px;
    flex-shrink: 0;
    margin: 0;
    padding: 32px 0px;
    white-space: nowrap;
}

.transparent-link {
    display: flex;
    align-items: center;
}

.transperent-svg {
    border-radius: 2px;
    width: 8px;
    height: 8px;
    margin-right: 58px;
}

@media screen and (min-width: 768px) {
    .oll-ribbon {
        margin-top: 62px;
        margin-bottom: 62px;
    }
}

@media screen and (min-width: 1280px) {
    .oll-ribbon {
        margin-top: 82px;
        margin-bottom: 82px;
    }
}