.work-together-container {
 padding-top: 80px;
 padding-bottom: 80px;
}
.title-work-together {
  font-family: Impact, sans-serif;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  text-align: left;
  padding-top: 80px;
}

.title-part {
  color: #00b068;
}

.work-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  text-align: left;
  padding-top: 40px;
}
.contacts {
  padding-top: 32px;
}

.contacts-link{
  display: flex;
    align-items: center;
}

.contacts-link:hover,
.contacts-link:focus {
color:#00b068;
}

.contacts-list-icon {
  fill: transparent;
  stroke:#00b068;
  margin-right: 16px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts-list-item {
  font-family: poppins, light;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.work-form {
  padding-top: 40px;
}
.work-form-label {
  width: 100%;
}

.work-form-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.work-form-input {
  background-color: #e4e5e6;
  border-radius: 8px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  padding: 16px 12px;
  width: 100%;
}

.work-form-input-text {
  background-color: #e4e5e6;
  border-radius: 8px;
  padding: 16px 12px;
  width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  resize: none;
  height: 128px;
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #00b068; 
  font-family: poppins, light;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: #f0f0f0;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(29, 29, 29, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-hide {
  display: none;
  visibility: hidden;
  opacity: 0;
  cursor: none;
}

.modal {
  width: 300px;
  height: 328px;
position: absolute;
top: 50%;
left: 45%;
background-color: #e4e5e6;
transform: translate(-50%, -50%);
border-radius: 16px;
padding: 48px 32px;
}

.close-modal-btn {
margin-left: auto;
position: absolute;
top: 16px;
right: 16px;
border: none;
padding: 0;
width: 24px;
height: 24px;

}
.modal-close-svg {
  fill: transparent;
  stroke: #292929;;
  background-color: #e4e5e6;
}
.work-modal-text-green {
  color:#00b068;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
 font-size: 18px;
 line-height: 1.55556;
 letter-spacing: 0.03em;
}

.modal-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
 text-align: center;
}

.work-together-loader {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border: 5px solid var(--accent-green);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.work-together-success {
  position: absolute;
  right: 17px;
  top: 17px;
  fill: #009156;
  display: none;
}

.work-together-error-message,
.work-together-error-input {
  display: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(231, 74, 59, 1);
  margin-top: -28px;
}

@media screen and (min-width: 768px) {
  .work-together-container {
    background-image: url(/src/img/bg-images/bgi-tab.webp);
    padding-bottom: 124px;
  }

  .title-work-together {
    padding-top: 124px;
    font-size: 108px;
    max-width: 530px;
  }

  .work-text {
    font-size: 20px;
    line-height: 1.6;
    max-width: 488px;
  }

  .contacts {
    padding-top: 60px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 16px;
  }

  .button {
    max-width: 173px;
  }

.button:focus,
.button:hover {
  background-color: #009156;
}
}

@media screen and (min-width: 1280px) {

  .work-together-container{
    padding-bottom: 164px;
  }

  .title-work-together {
    padding-top: 164px;
  }
  .contacts {
    padding-top: 80px;
  }
  .contacts-list {
    flex-direction: column;
    gap: 16px;
  }

  .content-wrap {
    display: flex;
    flex-direction: row;
    gap: 136px;
  }

  .work-form {
    width: 592px;
  }
}
